In [7]:
#Numphy
#Create an array with shape (4, 3) of: a. all zeros b. ones c. numbers from 0 to 11
import numpy as np
a = np.zeros((4,3))
print(a)

b = np.ones((4,3))
print(b)

c = np.arange(12).reshape(4,3)
print(c)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [19]:
#Tabulate the following function: F(x)=2x^2+5, x∈[1,100] with step 1.
d = np.arange(1,101,1)**2*2 + 5
for element in d.flat:
    print(element)

7
13
23
37
55
77
103
133
167
205
247
293
343
397
455
517
583
653
727
805
887
973
1063
1157
1255
1357
1463
1573
1687
1805
1927
2053
2183
2317
2455
2597
2743
2893
3047
3205
3367
3533
3703
3877
4055
4237
4423
4613
4807
5005
5207
5413
5623
5837
6055
6277
6503
6733
6967
7205
7447
7693
7943
8197
8455
8717
8983
9253
9527
9805
10087
10373
10663
10957
11255
11557
11863
12173
12487
12805
13127
13453
13783
14117
14455
14797
15143
15493
15847
16205
16567
16933
17303
17677
18055
18437
18823
19213
19607
20005

In [25]:
#Tabulate the following function: F(x)=e^−x, x∈[−10,10] with step 1.
x = np.arange(-10,10,1)
e = np.exp(-x)
for element in e.flat:
    print(element)

22026.465794806718
8103.083927575384
2980.9579870417283
1096.6331584284585
403.4287934927351
148.4131591025766
54.598150033144236
20.085536923187668
7.38905609893065
2.718281828459045
1.0
0.36787944117144233
0.1353352832366127
0.049787068367863944
0.01831563888873418
0.006737946999085467
0.0024787521766663585
0.0009118819655545162
0.00033546262790251185
0.00012340980408667956

In [13]:
#Pandas
import pandas as pd

#Import the dataset from this address and assign it to df variable.

df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')
df.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [12]:
#Select only the Team, Yellow Cards and Red Cards columns.

my_columns = ['Team', 'Yellow Cards', 'Red Cards']
df[my_columns]

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [14]:
#How many teams participated in the Euro2012?
len(df.index)

16

In [30]:
# Filter teams that scored more than 6 goals

df[df.Goals >= 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [32]:

#DataViz
#Choose a dataset, you can use Seaborn example datasets. 
#Create a cheat sheet for yourself containing all plot types discussed in the lecture.
#Provide the following info:  
#  - Plot type 
#  - Use cases (categorical data, distribution, etc.) 
#  - Example on the dataset
import seaborn as sns
sns.load_dataset('anagrams', cache=True, data_home=None)

    subidr    attnr  num1  num2  num3
0        1  divided     2   4.0     7
1        2  divided     3   4.0     5
2        3  divided     3   5.0     6
3        4  divided     5   7.0     5
4        5  divided     4   5.0     8
5        6  divided     5   5.0     6
6        7  divided     5   4.5     6
7        8  divided     5   7.0     8
8        9  divided     2   3.0     7
9       10  divided     6   5.0     6
10      11  focused     6   5.0     6
11      12  focused     8   9.0     8
12      13  focused     6   5.0     9
13      14  focused     8   8.0     7
14      15  focused     8   8.0     7
15      16  focused     6   8.0     7
16      17  focused     7   7.0     6
17      18  focused     7   8.0     6
18      19  focused     5   6.0     6
19      20  focused     6   6.0     5